send_email.json
{
  "name": "send_email",
  "nodes": [
    {
      "parameters": {},
      "id": "58c2d931-153b-4679-897c-bccec43848c1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        140,
        360
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.message.content.sendTo }}",
        "subject": "={{ $json.message.content.subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.message }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.message.content.bccList }}",
          "ccList": "={{ $json.message.content.ccList }}"
        }
      },
      "id": "a338bf23-7186-4e6a-b4c3-e3ae1a778ab4",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        760,
        360
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "t8R3GwHWz51DRAta",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "parse the \"query\" and output the parameters separately.",
              "role": "assistant"
            },
            {
              "content": "={{ JSON.stringify($json.query) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "d165dabf-23fa-46d4-9a52-f20734a29cd6",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        380,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "d5QuQIJprInGK4X2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d8f15e0-2b81-44f6-b9fd-0b4f0e8aa1fc",
              "name": "response",
              "value": "Sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "58efb75a-820c-41d0-bc79-e85df02b564b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        360
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "sendTo=&subject=&emailType=text&message=&appendAttribution=false&bccList=&ccList=&senderName="
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9912c876-5f84-4161-b79b-08f45a076a79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae372c62e73fd2c5fcdcce7ed3303ce4ce0ece17ce506d703ef7d974ff95018f"
  },
  "id": "BHJmbI8DCG5W9y6T",
  "tags": [
    {
      "createdAt": "2024-10-15T08:42:02.720Z",
      "updatedAt": "2024-10-15T08:42:02.720Z",
      "id": "3DuhqAcu3kZZGTq5",
      "name": "AI Email Agent"
    },
    {
      "createdAt": "2024-10-15T10:14:06.905Z",
      "updatedAt": "2024-10-15T10:14:06.905Z",
      "id": "6rcATSCXzI2WutHQ",
      "name": "tool"
    }
  ]
}